
form {

    padding: 40px;
    display: flex;
    flex-direction: column;
    width: 350px;
    border-radius: 30px;
    box-shadow: 0 0 450px rgba(92, 189, 225, 0.74);
    background-color: rgb(188, 217, 229);

}

h2 {
text-align: center;
font-size: 30px;
text-transform: uppercase;
color: rgb(0, 0, 0);
margin-bottom: 25px;
}

label, p {
font-size: 18px;
color: rgb(0, 0, 0);
margin-bottom: 20px;

}

input {
padding: 15px 11px;
border: 1px solid #066da0;
border-radius: 15px;
margin-bottom: 15px;
background-color: rgb(143, 199, 221);
outline: none;
color: #000000;
font-size: 18px;
}

.ingreso2 {
background-color: rgb(143, 199, 221);
font-size: 15px;
color: rgb(0, 0, 0);
text-transform: uppercase;
cursor: pointer;
}

.ingreso2:hover{
 background-color: #8bd8ee;
}

.ingreso {

    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

@media(max-width:990px) {

body {padding: 40px;
font-family: monospace;}

form {width: 70%;}

.ingreso {flex-direction: column;}

}

